/* =-=-=-=-=-=-=-= Global =-=-=-=-=-=-=-= */

:root {
    --primary: #0F9AFE;

    --white: #FFF;
    --white-200: #EFF8FF;
    --white-400: #EFF8FF;
    --gray-light: #DBDBDB;
    --gray: #6E7275;
    --gray-200: #293145;

    font-size: 62.5%;

    /*
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sora', sans-serif;
    */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-size: 1.6rem;
    color: var(--gray-200);

    background-color: var(--white);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 80%;
    margin-inline: auto;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;  
    line-height: 2.5rem;
    color: var(--gray);
}

h2 {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
}

.button { 
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--white);

    background-color: var(--primary);
    box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
    border-radius: 5rem;
    border: none;
    cursor: pointer;
}

.button:hover {
    filter: brightness(1.15);
}

/* =-=-=-=-=-=-=-= Header =-=-=-=-=-=-=-= */

header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--white-400);
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

#header.shadow-on-scroll {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);     
}

/* =-=-=-=-=-=-=-= Navigation =-=-=-=-=-=-=-= */

header nav ul {
    display: flex;
    align-items: center;
    gap: 6.6rem;
    list-style: none;
}

header nav li {
    position: relative;
}

header nav li::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1rem;

    height: 2px;
    width: 0;

    background-color: var(--primary);

    transition: .2s;
}

header nav li:hover::after {
    width: 100%;
}

header nav li:hover a {
    color: var(--gray-200);
}

header nav li a {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--gray);
}

header button {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    right: 0;
    z-index: 1000;

    border: 0;
    background: none;
    cursor: pointer;
}

/* =-=-=-=-=-=-=-= Home =-=-=-=-=-=-=-= */

#home {
    height: 64rem;
    padding-top: 7rem;

    background-color: var(--white-400);
}

#home .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
}

#home .wrapper .col-a {
    grid-area: A;

    align-self: center;
}

#home .wrapper .col-b {
    grid-area: B;

    text-align: center;
}

#home h1 {
    font-family: 'Sora', sans-serif;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 6rem;

    margin-bottom: 5rem;
}

#home button {
    width: 20rem;
    height: 5.6rem;
}

/* =-=-=-=-=-=-=-= Functionalities =-=-=-=-=-=-=-= */

#functionality {
    height: 47.6rem;
    flex-direction: column;
}

#functionality h2 {
    margin-bottom: 8rem;
}

#functionality .functionalities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#functionality .functionality-card {
    text-align: center;
}

#functionality .functionality-card img {
    margin-bottom: 3rem;
}

#functionality .functionality-card h3 {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;

    margin-bottom: 1.6rem;
}

/* =-=-=-=-=-=-=-= App =-=-=-=-=-=-=-= */


#app {
    background-color: var(--white-400);
    height: 47.6rem;
}

#app .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
}

#app .wrapper .col-a {
    align-self: center;
    grid-area: A;
}

#app .wrapper .col-b {
    grid-area: B;
    text-align: center;
}

#app h2 {
    text-align: left;
    font-size: 3.2rem;

    margin-bottom: 3.2rem;
}

#app .download-app {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* =-=-=-=-=-=-=-= Plans =-=-=-=-=-=-=-= */

#plans {
    height: 84rem;
}

#plans .wrapper > h2 {
    margin-bottom: 1.6rem;
}

#plans .wrapper > p {
    text-align: center;
    font-size: 1.8rem;

    margin-bottom: 9.5rem;
}

#plans .plans-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#plans .plans-card {
    width: 37rem;
    height: 47rem;
    padding: 3.5rem;

    background-color: var(--white-400);
    border-radius: .8rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2); 

    text-align: center;

    transition: transform 0.3s;
}

#plans .plans-card h4 {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;

    margin-bottom: 6rem;
}

#plans .plans-card .price {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.6rem;

    position: relative;
    display: inline-block;
    padding-left: 3.2rem;
    margin-bottom: 4.5rem;
}

#plans .plans-card .price span:first-child {
    position: absolute;
    top: .7rem;
    left: 0;
}

#plans .plans-card .price span:last-child {
    font-size: 5rem;
}

#plans .plans-card button {
    margin-top: 5.5rem;
    padding: .8rem 8rem;
}

#plans .plans-card.favorite {
    background-color: var(--gray-200);
    color: var(--white);
}

#plans .plans-card.favorite h4 {
    margin-bottom: .8rem;
    font-size: 3.2rem;
}

#plans .plans-card.favorite p:nth-of-type(1) {
    padding: .5rem 3.2rem;
    margin-bottom: .8rem;

    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-size: 1.4rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 600;

    background-color: var(--primary);
    border-radius: 1.5rem;
}

#plans .plans-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);   
}

/* =-=-=-=-=-=-=-= Contact =-=-=-=-=-=-=-= */

#contact {
    background-image: url(./assets/notebook-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 38rem;
}

#contact .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact h2{
    color: var(--white);

    margin-bottom: 1.6rem;
}

#contact p {
    color: var(--gray-light);
    text-align: center;

    max-width: 52rem;
    margin-bottom: 9rem;
}

#contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

#contact form input {
    width: 30rem;
    height: 3.8rem;
    padding: 1rem;

    background: none;
    border: none;
    border-bottom: 1px solid #fff;
}

#contact form input,
#contact form input::placeholder {
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-size: 1.8rem;
}

#contact form button {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;

    padding: .8rem 3.2rem;

    box-shadow: none;
}

/* =-=-=-=-=-=-=-= Footer =-=-=-=-=-=-=-= */

footer {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Sora', sans-serif;
    font-size: 2rem;
    color: var(--gray-200);
}

/* =-=-=-=-=-=-=-= Responsive =-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-= Responsive =-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-= Responsive =-=-=-=-=-=-=-= */

@media (max-width: 1023px) {
    /* =-=-=-=-=-=-=-= Global =-=-=-=-=-=-=-= */

    p {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    .button { 
        font-size: 1.6rem;
    }

    .wrapper{
        width: min(50rem, 90%);

    }

    /* =-=-=-=-=-=-=-= Header =-=-=-=-=-=-=-= */

    header {
        height: 6rem;
    }

    /* =-=-=-=-=-=-=-= Navigation =-=-=-=-=-=-=-= */

    header nav {
        transform: translateY(100%);

        transition: transform .4s;
    }    

    header button {
        opacity: 1;
        visibility: visible;
    }

    header button svg path {
        fill: var(--gray-200);
        stroke: var(--gray-200);
    }

    header .close-menu,
    header nav {
        opacity: 0;
        visibility: hidden;
    }

    /* =-=-=-=-=-=-=-= Show menu =-=-=-=-=-=-=-= */

    body.menu-expended > *:not(header) {
        display: none;
    }

    body.menu-expended header {
        background-color: var(--white);
    }

    body.menu-expended .open-menu {
        opacity: 0;
        visibility: hidden;
    }

    body.menu-expended .close-menu,
    body.menu-expended nav {
        opacity: 1;
        visibility: visible;
    }

    body.menu-expended nav {
        transform: translateY(0);
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        height: 100vh;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    body.menu-expended nav ul {
        flex-direction: column;
    }

    /* =-=-=-=-=-=-=-= Home =-=-=-=-=-=-=-= */

    #home {
        height: auto;
        padding-top: 6rem;
    }

    #home button { 
        font-size: 1.4rem;
    }

    #home .wrapper {
        display: initial;
    }

    #home h1 {
        font-size: 2.4rem;
        line-height: 3rem;

        max-width: 29rem;
        margin-top: 4rem;
        margin-bottom: 2.4rem;
    }

    #home img {
        width: 21rem;    
    }

    #home button {
        width: 14rem;
        height: 3.2rem;      
    }

    /* =-=-=-=-=-=-=-= Functionalities =-=-=-=-=-=-=-= */

    #functionality {
        padding: 4rem 0;
        height: auto;
    }

    #functionality h2 {
        margin-bottom: 3.3rem;
    }

    #functionality .functionalities {
        flex-direction: column;
        gap: 3.5rem;
    }

    #functionality .functionality-card h3 {
        font-size: 1.6rem;
    }

    /* =-=-=-=-=-=-=-= App =-=-=-=-=-=-=-= */

    #app {
        height: auto;
        padding: 3.2rem 0;
    }

    #app .wrapper {
        display: initial;
    }

    #app h2 {
        text-align: center;
    }

    #app p {
        text-align: center;
    }
    
    #app .download-app {
        margin-top: 3.2rem;
        justify-content: center;
        gap: 2rem;
    }

    #app .download-app img {
        width: 100%;
    }

    #app .col-b {
        display: none;
    }

    /* =-=-=-=-=-=-=-= Plans =-=-=-=-=-=-=-= */

    #plans {
        height: auto;
        padding: 4rem 0;
    }

    #plans p {
        font-size: 1.6rem;
    }

    #plans .plans-container {
        flex-direction: column;
    }

    #plans .plans-card {
        width: min(32rem, 90%);
        height: auto;
        padding: 2.4rem;
    }

    #plans .plans-card h4 {
        margin-bottom: 3rem;
    }

    #plans .plans-card .price {
        margin-bottom: 4rem;
    }

    #plans .plans-card button {
        margin-top: 5rem;
        padding: .8rem 8rem;
    }
    
    #plans .plans-card.favorite h4 {
        margin-bottom: 1.4rem;
        font-size: 2.4rem;
    }

    #plans .plans-card.favorite p {
        color: white;
    }
    
    #plans .plans-card.favorite p:nth-of-type(1) {
        margin-bottom: .4rem;
        font-size: 1.4rem;
    }

    /* =-=-=-=-=-=-=-= Contact =-=-=-=-=-=-=-= */

    #contact {
        height: 30rem;
    }

    #contact p {
        margin-bottom: 2.4rem;
    }

    #contact form {
        flex-direction: column;
        gap: 4rem;
    }

    #contact form input,
    #contact form input::placeholder {
        font-size: 1.4rem;
    }

    #contact form button {
        padding: .8rem 13rem;
    }
}

